@charset "utf-8";
/* Documento CSS */

#inicio {
  background: #2d3e50;
}

#imagen {
  float: right;
  max-width: 300px;
  margin-top: 50px;
  padding-left: 10px;
}

#barralateral {
  float: right;
  width: 15%;
  background-color: #ffffff;
  color: black;
  padding: 15px;
  border-radius: 0.5em;
  margin-top: 20px;
  margin-left: 30px;
  text-decoration: none;
  text-decoration-skip: none;
}

#titulo {
  text-align: center;
}

#contenidoPrin {
  max-width: 80%;
  float: left;
  background-color: #ffffff;
}

ul.slider {
  position: relative;
  width: 600px;
  height: 300px;
  padding-top: 10px;
}

ul.slider li {
  position: absolute;
  left: 0;
  top: o;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: white;
  transition: opacity 0.5s;
}

ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu {
  text-align: left;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 0px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 100%;
}

#articulo1 {
  padding-top: 20px;
}

#articulo1 #titulo {
  font-size: 30px;
}
#articulo1 p {
  padding-top: 20px;
  font-size: 20;
}

/*
#imagen2 {
  float: right;
  max-width: 300px;
  margin-top: 20px;
}


body {
  background-color: #ffffff;
}

li {
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px;
}

legend {
  color: rgb(255, 255, 255);
  font: normal 18px arial;
}

h1 {
  color: rgb(255, 255, 255);
  font: normal 19px arial;
  font-weight: bold;
}



h3 {
  color: #2d3e50;
  font: normal 22px arial;
  font-weight: bold;
}

h4 {
  color: #ffffff;
  font: normal 20px arial;
}

h5 {
  color: rgb(255, 255, 255);
  font: normal 22px arial;
  font-weight: bold;
}

legend {
  color: #fc0;
  font-size: 1.2em;
  font-weight: bold;
}

fieldset {
  border: 0.1em solid #fff;
  border-radius: 0.5em;
  padding: 1em;
  background: rgb(31, 37, 118);
  text-align: center;
}



input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #00a4bd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #2d3e50;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

*/
